/*
 *= normalize
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("/assets/background.png");
  background-size: cover;
  color: #191919;
}

h1 {
  font-family: DancingScript;
  font-size: 60px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px
}

.day-list {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.day-list .intro {
  display: block;
  width: 100%;
  text-align: center;
}

.day-list .intro p {
  font-family: Raleway;
  margin: auto;
  width: 80%;
  max-width: 1000px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.day-item {
  background: url(/assets/card-bg.png) no-repeat center;
  background-size: cover;
  width: 200px;
  display: inline-block;
  font-family: Raleway;
  font-size: 60px;
  text-align: center;
  margin: 40px;
  height: 200px;
  padding-top: 33px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px grey;
  border: 1px grey solid;
  cursor: pointer;
}

.day-item.pending {
  color: #A9A9A9;
  cursor: initial;
  background: linear-gradient(0deg, rgba(211, 211, 211, 0.7), rgba(211, 211, 211, 0.7)), url(/assets/card-bg.png) no-repeat center;
  background-size: cover;
}

.day-item.today {
  color: rgb(3, 34, 96);
  border: 1px rgba(255, 215, 0 , 0.7) solid;
}

.day-show {
  margin: auto;
  width: 80%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Raleway;
  padding: 40px;
  padding-top: 10px;
}

.day-show p, .day-edit p {
  text-align: justify;
}

.day-show h2, .day-edit h2 {
  font-family: DancingScript;
  font-size: 40px;
  text-align: center;
}

.day-show p.embed, .day-edit p.embed {
  margin-top: 30px;
  text-align: center;
}

.day-show p.embed iframe, .day-edit p.embed iframe {
  width: 560px;
  height: 315px;
}

.day-show h3, .day-edit h3 {
  font-family: DancingScript;
  font-size: 30px;
}

.day-show .day-content {
  margin-bottom: 50px;
}

.day-show .back-link, .day-edit .back-link {
  font-family: Raleway;
  color: rgb(3, 34, 96);
  text-decoration: none;
  font-size: 20px;
}

.day-edit {
  width: 100%;
}

.day-edit .day-form {
  display: inline-block;
  width: 49%;
  margin: 0;
  padding-left: 10px;
  padding-top: 40px;
  vertical-align: top;
}

.day-edit .day-form textarea {
  width: 90%;
  min-height: 600px;
}

.day-edit .day-preview {
  display: inline-block;
  width: 49%;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Raleway;
  padding: 0;
  padding-top: 10px;
}

.day-edit .submit-button {
  font-family: Raleway Italic;
  font-size: 1.333em;
  font-weight: bold;
  display: inline-block;
  margin: 1em 0;
  padding: 0.4em 0.8em;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: #ffffff;
  border: 0;
  border-radius: 0.2em;
  background-color: rgb(3, 34, 96);
  cursor: pointer;
}

.day-edit .submit-confirm {
  margin-left: 10px;
  color: green;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 50px;
    margin: 10px;
    text-align: center;
    width: 90%;
  }

  .day-item {
    margin: 20px;
    width: 80%;
    min-width: 200px;
  }

  .day-show {
    margin: 0px;
    padding: 20px;
    width: 90%;
  }

  .day-show p.embed iframe {
    width: 80vw;
    height: 44vw;
  }
}
